<div class="sidebar">
  <div class="row">
    <div class="col">
      <div class="logo">
        <img src="../../../assets/img/logo.png" alt="logo" style="height: 65px" />
      </div>
    </div>
  </div>
  <div class="line"></div>
  <ul>
      <li>
          <a routerLink="/home" routerLinkActive="active">
              <span class="icon"><i class="bi-house"></i></span>
              <span class="item" style="padding-left: 10px;">Home</span>
          </a>
      </li>
      <li>
          <a routerLink="/categories" routerLinkActive="active">
              <span class="icon"><i class="bi bi-file-earmark-richtext"></i></span>
              <span class="item" style="padding-left: 10px;">Categories</span>
          </a>
      </li>
      <li>
          <a routerLink="/cuisine" routerLinkActive="active">
              <span class="icon"><i class="bi bi-file-earmark-text"></i></span>
              <span class="item" style="padding-left: 10px;">Cusine</span>
          </a>
      </li>
      <li>
          <a routerLink="/add-recipe" routerLinkActive="active">
              <span class="icon"><i class="bi-file-earmark-plus"></i></span>
              <span class="item" style="padding-left: 10px;">Add recipe</span>
          </a>
      </li>
  </ul>
</div>