<div>
    <h1>Recipe App</h1>
</div>
<table>
    <thead>
        <th>Name</th>
        <th>description</th>
        <th>notes</th>
        <th>image</th>
    </thead>
    <tbody>
        <tr *ngFor="let recipe of recipes">
            <td>{{recipe.name}}</td>
            <td>{{recipe.description}}</td>
            <td>{{recipe.notes}}</td>
            <td>{{recipe.image}}</td>
        </tr>
    </tbody>
</table>


<table>
    <thead>
        <th>Category Name</th>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <td>{{category.categoryName}}</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <th>Cuisine Name</th>
    </thead>
    <tbody>
        <tr *ngFor="let cuisine of cuisines">
            <td>{{cuisine.cuisineType}}</td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>
