.card-container{
    width: 20vw;
}

.card-title{
    text-align: center;
    background-color: #323a45;
    padding: 1px;
    color: white;
    -webkit-box-shadow: 4px 4px 13px 3px #C4C4C4; 
    box-shadow: 4px 4px 13px 3px #C4C4C4;
    border-radius: 15px;
    margin-top: 60px !important;
    margin: 25px;
}

.card-image{
    text-align: center;
    padding: 5px;
    background-color: #D9D9D9;
    -webkit-box-shadow: 4px 4px 13px 3px #C4C4C4; 
    box-shadow: 4px 4px 13px 3px #C4C4C4;
    border-radius: 15px;
    margin-top: 40px !important;
    margin-bottom: 60px !important;
    margin: 25px;
    height: 200px;
}


@media only screen and (min-width: 600px) {
    .card-container{
        width: 30vw;
    }
}

@media only screen and (min-width: 1500px) {
    .card-container{
        width: 20vw;
    }
}

@media only screen and (min-width: 1700px) {
    .card-container{
        width: 16vw;
    }
}

@media only screen and (min-width: 2500px) {
    .card-container{
        width: 15vw;
    }

    .card-title{
        margin-top: 60px !important;
        margin: 60px;
    }  

    .card-image{
        margin-bottom: 60px !important;
        margin: 60px;
    }
}