.page-header{
    border-bottom: 2px solid #323a45;
}

.page-header h2{
    text-align: left;
    margin-left: 9vw;
}

.page-info{
    text-align: left;
    margin-left: 9vw;
    margin-top: 20px;
}

