<!-- Page Header -->
<app-page-header [header]="'Vietnamese Summer Rolls'" [path]="'Home > Recipes > Vietnamese Summer Rolls'"></app-page-header>

<div class="recipe-container">

    <!-- Image -->
    <div class="recipe-image">
    </div>

    <!-- Description -->
    <h4>Description</h4>
    <div class="recipe-description">
        Lorem ipsum dolor sit amet consectetur. Commodo duis in at cursus at at tempus risus amet. 
        Varius lectus arcu neque nibh nunc quis sit dolor. Scelerisque in posuere consectetur integer.
    </div>

    <!-- Ingredients -->
    <h4>Ingredients</h4>
    <div class="row mb-5">
        <div class="col">
            <div class="recipe-ingredients">
                cup of water
            </div>
        </div>
        <div class="col">
            <div class="recipe-ingredients">
                cup of water
            </div>
        </div>
        <div class="col">
            <div class="recipe-ingredients">
                cup of water
            </div>
        </div>
        <div class="col">
            <div class="recipe-ingredients">
                cup of water
            </div>
        </div>
    </div>
   
    <!-- Steps -->
    <div class="row">
        <div class="col">
            <h4>Step 1</h4>
            <div class="recipe-steps">
                Lorem ipsum dolor sit amet consectetur. Commodo duis in at cursus at at tempus risus amet. 
                Varius lectus arcu neque nibh nunc quis sit dolor. Scelerisque in posuere consectetur integer.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4>Step 2</h4>
            <div class="recipe-steps">
                Lorem ipsum dolor sit amet consectetur. Commodo duis in at cursus at at tempus risus amet. 
                Varius lectus arcu neque nibh nunc quis sit dolor. Scelerisque in posuere consectetur integer.
            </div>
        </div>
    </div>
</div>

